#loggedInUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 64px);
  background: black;
  margin-top: 64px;
}

#uploadVideoForm {
  padding: 1em 1em;
  border: 0.2em solid black;
  margin-top: 2em;
}

#loggedInUploadHeading {
  font-size: 3em;
  text-decoration: underline;
  margin-top: 1em;
  color: white;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin: 0.25em;
  width: 15em;
  font-size: 2em;
  color: white;
}

.uploadVideoInput {
  box-sizing: border-box;
  width: 20em;
}
