@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(33, 33, 33, 0.98);
  height: 4em;
  width: 100vw;
  color: white;
}

#leftHeader {
  position: fixed;
  left: 1em;
  display: flex;
  align-items: center;
}

#hamburgerMenuIcon {
  font-size: 1.3em;
  margin-right: 1em;
}
