#inputSearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* for suggestions background  */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: white;
  caret-color: white;
  color: white;
  font-size: 1.3em;
}

#searchInput {
  width: 14em;
  height: 30px;
  font-size: 1.3em;
  text-indent: 1em;
  color: white;
  background: black;
  border: none;
}

#searchInput:focus {
  outline: none;
}

#searchSubmitButton {
  height: 30px;
  width: 65px;
  border: none;
  background: rgb(77, 77, 77);
}

#searchMagIcon {
  color: white;
}
