#rightHeaderContainer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 1em;
  display: flex;
  align-items: center;
  width: 12em;
}

#addVideoIconContainer {
  color: white;
  width: 2em;
}

#profilePicture {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}
